<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Latest News</h1>
            <h4 class="text-center text-info" ng-if="articleHomeCtrl.loading">Loading</h4>
        </div>
    </div>
</div>

<article ng-repeat="article in articleHomeCtrl.articles.articles">
    <div class="row">
        <h3 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
        <div class="col-lg-12">
            <p>{{ article.date }}</p>
            <p class="lead">
                {{ article.excerpt }} [...]
                <a href="{{ article.url }}"> Read More</a>
            </p>
        </div>
    </div>
    <hr>
</article>
