body {
  padding-top: 100px;
  padding-bottom: 40px;
}

.navbar li a {
  font-size: 14px;
  font-weight: 400;
  padding: 11px 10px;
}

.dropdown-menu>li>a {
  padding: 3px 20px;
}

a:hover {
  text-decoration: none;
}

h3.post-title {
  font-weight: 100;
}